$primary-color: #422755;
$primary-color-light: #6E4B87;

$secondary-color: #FEAF3D;

$alert-color: #F04837;

$background-light: #E5E5E5;

$input-color: #757575;

$font-color: #414141;

$black: #000;
$white: #fff;